body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

:root {
  --black: rgb(57, 55, 58) ;
  --white: rgb(190, 199, 238);
  --grey: rgb(180, 179, 202);
  --red: rgb(180, 120, 120);
  --blackTrans: rgba(21, 19, 19, 0.74);
}

html::selection {
  background-color: var(--grey); /* Cambia aquí al color que desees */
  color: var(--blackTrans); /* Cambia aquí al color de texto que desees */
}

p {
  text-align: justify;
}

.content {
  opacity: 0; /* Inicia con opacidad 0 para la animación de fade in */
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  color: var(--grey);
  background-color: var(--blackTrans);
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 20px 30px;
  position: relative;
  border: 1px solid var(--white);
  border-radius: 15px 15px 15px 15px;
}

.footer {
  color: var(--white);
  padding-left: 1%;
  bottom: 0;
}

.home {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-areas: "left right";
}

.title-home {
  text-align: center;
  padding-bottom: 2%;
}

.text-home {
  margin-bottom: 2%;
}

.project-title {
  text-align: center;
  max-width: 250px;
}

.experience-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-title {
  text-align: center;
  max-width: 150px;
}

.experience-subtitle {
  padding: 1%;
  border-left: 1px solid var(--grey);
}

.title-project {
  padding: 3%;
  border-left: 1px solid var(--grey);
}

.project-image {
  width: 250px;
  height: 250px;
  padding: 3px;
  border-radius: 20rem;
  border: 2px solid var(--white);
}

.badge {
  padding: 10px;
  display: flex;
  margin-right: 1%;
  max-width: 200px;
  border-radius: 15px;
  align-items: center;
  border: 1px solid var(--grey);
}

.vue {
  color: #3fb27f;
  background-color: #32475b;
}

.laravel {
  color: var(--white);
  background-color: #aa514a;
}

.ux {
  color: var(--white);
  background-color: #4f68aa;
}

.web-dev {
  color: var(--white);
  background-color: #3b1d63;
}

.backend {
  color: var(--white);
  background-color: #2a5f90;
}

.badges {
  display: flex;
  padding-top: 1%;
  overflow-x: auto;
}

.default-image-side {
  display: flex;
  margin-left: 30%;
  order: 0;
}

#container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.button-project {
  margin-bottom: 3%;
  width: 100%;
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid var(--white);
  border-radius: 5px;
  color: var(--grey);
  cursor: pointer;
}

#button-pj {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-pj {
  cursor: pointer;
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 15px;
  color: var(--white);
  background-color: var(--blackTrans);
  transition: 0.2s ease;
}

.button-pj:hover {
  background-color: var(--white);
  color: var(--black);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-items {
  padding-top: 2%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.contact-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.title-contact {
  padding-bottom: 2%;
}

.form__group {
  position: relative;
  padding: 20px 0 20px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--grey);
  outline: 0;
  font-size: 17px;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--grey);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--grey), var(--white));
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--white);
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.btn {
  display: grid;
  place-items: center;
  background: var(--blackTrans);
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px var(--blackTrans);
  border: 1px solid var(--grey);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: -0.5px -0.5px 0px var(--white), 0.5px 0.5px 0px var(--white),
    0px 12px 10px -10px var(--white);
  border: 1px solid var(--white);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: var(--white);
}

.list-projects {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  columns: 4;
  column-gap: 20px;
}

#list .container {
  max-width: 250px;
  break-inside: avoid;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* list-projects es el container grande, el container de cada tarjeta va a ser el container normal (box) */

@media (max-width: 1350px) {
  .list-projects {
    width: calc(100% - 40px);
    columns: 3;
  }

  .project-image {
    width: 180px;
    height: 180px;
  }

  .container {
    grid-template-columns: auto;
    max-width: auto;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .default-image-side {
    order: -1;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .list-projects {
    columns: 1;
  }

  .footer,
  .left-button,
  .right-button {
    display: none;
  }

  .container {
    grid-template-columns: auto;
    max-width: auto;
  }

  #list .container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    break-inside: avoid;
  }
}
