body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--black);
}

:root {
  --black: rgb(15, 23, 42);
  --black-plus: rgb(18, 32, 69);
  --black-transparency: rgb(59 130 246 / 50%);
  --green-transparency: #53d1d311;
  --text-color: rgb(148 163 184);
  --title-color: rgb(197, 209, 237);
  --highlight-color: rgb(182, 196, 223);
  --text: rgb(100, 116, 139);
}

html::selection {
  background-color: var(--text-color); /* Cambia aquí al color que desees */
  color: var(--blackTrans); /* Cambia aquí al color de texto que desees */
}

.content {
  width: 90%;
  opacity: 0;
  display: grid;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  grid-template-columns: auto auto;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#dynamic-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.item-section {
  width: 100%;
  margin-bottom: 16%;
  align-self: center;
  margin-inline: auto;
}

.sub-text {
  max-width: 50%;
}

.footer-icons {
  padding-top: 2%;
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 5%;
}

.footer {
  color: var(--white);
  padding-left: 1%;
  bottom: 0;
}

.title-home {
  color: var(--highlight-color);
  font-size: 3rem;
  line-height: 1;
}

.home nav {
  padding-top: 2%;
}

.home ul {
  list-style: none;
}

.home li {
  padding-bottom: 4%;
}

.nav-anchor {
  display: flex;
}

.nav-line {
  align-self: center;
  width: 8px;
  height: 1px;
  border-radius: 15px;
  margin-right: 3%;
  background-color: var(--text-color);
  transition: 0.15s ease-out;
}

.text-nav {
  font-weight: 500;
}

.nav-anchor:hover,
.nav-anchor.active {
  .nav-line {
    transform: scale(3, 1);
    border-radius: 0;
  }
  .text-nav {
    font-weight: 800;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.job-text {
  display: grid;
  grid-template-columns: 25% auto;
  border-radius: 8px;
  padding: 5%;
  margin-bottom: 26px;
}

.job-text:hover {
  background-color: var(--green-transparency);
  cursor: pointer;
}

.job-text-present {
  display: grid;
  grid-template-columns: 28% auto;
  border-radius: 8px;
  padding: 5%;
  margin-bottom: 26px;
}

.job-text-present:hover {
  background-color: var(--green-transparency);
  cursor: pointer;
}

.date {
  margin-top: 1px;
}

.experience-subtitle {
  margin-top: 1px;
  font-weight: 900;
}

.project-image {
  width: 80px;
  height: 80px;
  border-radius: 20rem;
  border: 2px solid var(--white);
}

.badge {
  padding: 1%;
  color: #53d0d3;
  border-radius: 25px;
  align-items: center;
  background-color: rgb(45 212 191 / 10%);
}

.badge:hover {
  color: #53d0d3;
  background-color: rgba(11, 231, 202, 0.329);
}

.badges {
  display: flex;
  padding-top: 1%;
  margin-left: -10px;
  align-items: center;
  justify-content: space-around;
}

.layout-skills {
  width: 100%;
}

.badges-skills {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1%;
  margin-inline: auto;
}

#container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

#button-pj {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-pj {
  cursor: pointer;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 15px;
  color: var(--white);
  background-color: var(--blackTrans);
  transition: 0.2s ease;
}

.button-pj:hover {
  background-color: var(--highlight-color);
  color: var(--black);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-items {
  padding-top: 2%;
  display: none;
  gap: 16px;
}

.contact-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.form__group {
  position: relative;
  padding: 20px 0 20px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: 0;
  font-size: 17px;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--text-color);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--text-color), var(--white));
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--white);
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.btn {
  display: grid;
  place-items: center;
  background: var(--blackTrans);
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px var(--blackTrans);
  border: 1px solid var(--text-color);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: -0.5px -0.5px 0px var(--highlight-color),
    0.5px 0.5px 0px var(--highlight-color),
    0px 12px 10px -10px var(--highlight-color);
  border: 1px solid var(--highlight-color);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: var(--highlight-color);
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.me img,
.me-responsive img {
  max-height: 40%;
  max-width: 25%;
  mask-image: linear-gradient(black 80%, transparent);
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-responsive {
  display: none;
}

/* list-projects es el container grande, el container de cada tarjeta va a ser el container normal (box) */
@media (min-width: 1351px) {
  .home {
    position: sticky;
    top: 0px;
    max-height: 100vh;
  }
}

@media (max-width: 1350px) {
  .home-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .nav-list,
  .me {
    display: none;
  }

  .sub-title {
    margin-top: -10px;
  }

  .sub-text {
    margin-top: -1px;
  }

  .me-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }

  .container-items {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .footer-icons {
    display: none;
  }

  .containerImg {
    padding-right: 50%;
  }

  .container {
    grid-template-columns: auto;
    max-width: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .default-image-side {
    order: -1;
    margin-left: auto;
    margin-right: auto;
  }
  /* .full-content {
    max-width: 452px;
    background-color: red;
  } */
}

@media screen and (max-width: 900px) {
  .home-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .nav-list,
  .me {
    display: none;
  }
  .sub-title {
    margin-top: -10px;
  }
  .sub-text {
    margin-top: -1px;
  }
  .me-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .container-items {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .footer-icons {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .list-projects {
    columns: 1;
  }

  .footer {
    display: none;
  }

  .container {
    grid-template-columns: auto;
    max-width: auto;
  }

  #list .container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    break-inside: avoid;
  }
}
